# SPDX-FileCopyrightText: 2024 Daniel Biehl <daniel.biehl@imbus.de>
#
# SPDX-License-Identifier: Apache-2.0

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
max_line_length = 120

# 4 space indentation

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = silent

[*.py]
indent_style = space
indent_size = 4
